<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpt.borne.tpt">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>



    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.tpt.borne.tpt.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tpt.borne.tpt.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.tpt.borne.tpt.MyApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">


<!-- PARSE RECEIVERS -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.tpt.borne.tpt.parse.CustomPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "info.androidhive.parsenotifications" to match your app's package name. -->
                <category android:name="com.tpt.borne.tpt" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_stat_icon"/>

        <activity android:name="com.tpt.borne.tpt.login.Splash"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name="com.tpt.borne.tpt.login.Login"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <!-- POSITIONS -->
        <activity android:name="com.tpt.borne.tpt.positions.PositionsSmall"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".PositionsSmall" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.positions.PositionsMr"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".PositionsMr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.positions.PositionsLr"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".PositionsLr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.positions.Filters"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Filters" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.positions.Locations"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Locations" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- SETTINGS -->
        <activity android:name="com.tpt.borne.tpt.settings.Settings"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.settings.Password"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Password" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.settings.SettingsNotifications"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".SettingsNotifications" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.settings.SettingsPreferedPositions"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".SettingsPreferedPositions" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- CONTACT -->
        <activity android:name="com.tpt.borne.tpt.contact.Contact"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Contact" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- MARKET REPORTS -->
        <activity android:name="com.tpt.borne.tpt.mreports.MarketReports"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".MarketReports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.mreports.PDFparser"
        android:windowSoftInputMode="stateHidden"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
            <action android:name=".PDFparser" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>



        <!-- POST CHARTTERING -->

        <activity android:name="com.tpt.borne.tpt.postchartering.PostChartering"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".PostChartering" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity android:name="com.tpt.borne.tpt.email.EmailPostChartering"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".EmailPostChartering" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.email.EmailClaimDetails"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".EmailClaimDetails" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.tpt.borne.tpt.postchartering.PostCharteringStatementOfFacts"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".StatementOfFacts" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.tpt.borne.tpt.postchartering.OutstandingClaims"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".OutstandingClaims" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.postchartering.Invoices"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Invoices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.postchartering.PostCharterParty"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".CharterParty" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- CHARRTERING -->
        <activity android:name="com.tpt.borne.tpt.chartering.Chartering"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Chartering" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.chartering.CharteringInvoices"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".CharteringInvoices" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.chartering.ShipDocumentation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".ShipDocumentation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.chartering.CharterParty"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".CharterParty" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.chartering.CharteringStatementOfFacts"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".CharterParty" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.tpt.borne.tpt.email.EmailChartering"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".Email" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.tpt.borne.tpt.email.EmailFields"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".EmailFields" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- WEB VIEW-->
        <activity android:name="com.tpt.borne.tpt.webview.WebView"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name=".WebView" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



    </application>

</manifest>